/* style slider */
.slider-container {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.slider-item {
    scroll-snap-align: start;
    flex: 0 0 auto;
}

/* style dark mode */
.bi.bi-cloud-moon.hidden {
    display: none;
}

body.bg-black {
    background-color: #000;
    color: #fff;
}

body.bg-white {
    background-color: #fff;
    color: #000;
}

body.bg-white .fullname-keahlian {
    color: #000;
}

body.bg-black .fullname-keahlian {
    color: #fff;
}

body.bg-white .seputar-saya {
    color: #000;
}

body.bg-black .seputar-saya {
    color: #fff;
}

body.bg-white .bg-black-button {
    background-color: #fff; 
    color: #000; 
    border-color: #1D4ED8;
}

body.bg-white .bg-black-button:hover {
    background-color: #1D4ED8;
    color: #fff;
}

body.bg-black .bg-black-button {
    background-color: #000; 
    color: #fff; 
    border-color: #1D4ED8; 
}

body.bg-white .bg-card-light {
    background-color: #D1D5DB;
    color: #000;
}

body.bg-white .text-skill-light {
    color: #000; 
}

body.bg-white .text-project-light {
    color: #000; 
}

body.bg-white .title-project-light {
    color: #000; 
}

body.bg-white .title-serifikat-light {
    color: #000; 
}

body.bg-white .img-project {
    filter: grayscale(0);
}

body.bg-white .img-project:hover {
    filter: grayscale(100%);
}

body.bg-white .icon-logo-navbar {
    background-color: #fff;
}

body.bg-white .icon-header {
    color: #000;
}

body.bg-white nav {
    color: #000;
}

/* responsive */
@media (max-width: 755px) {
    .dua-keahlian {
        font-size: 30px;
    }
}

@media (max-width: 695px) {
    .fullname {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .dua-keahlian {
        font-size: 20px;
    }

    .seputar-saya {
        font-size: 10px;
    }
}

@media (max-width: 445px) {
    .fullname {
        font-size: 20px;
    }

    .icon-logo-navbar {
        position: relative; 
    }

    .icon-header {
        position: absolute; 
        bottom: 0;
        left: 50%; 
        transform: translateX(-50%); 
        margin-bottom: 20px; 
    }

    header {
        margin-top: -50px;
    }
}

@media (max-width: 390px) {
    .icon-header {
        gap: 15px;
    }

    .logo-img, #hamburger-menu {
        margin-top: -10px;
    }
}

@media (max-width: 370px) {
    .icon-header {
        font-size: 12px;
    }

    .logo-img, #hamburger-menu {
        margin-top: -10px;
    }
}

#hamburger-menu {
    display: none;
    width: 30px;
}

@media (max-width: 600px) {
    #hamburger-menu {
        display: inline-block;
    }

    .navbar .navbar-nav-link {
        display: block;
        position: absolute;
        top: 100%;
        left: -100%; /* Mengubah right menjadi left */
        background-color: #000;
        width: 13rem;
        height: 290px;
        transition: 0.3s;
        border-top: 3px solid #0060FF;
        border-bottom-left-radius: 5px;
        margin-top: -1px;
    }

    body.bg-white .navbar .navbar-nav-link {
        background-color: #fff;
    }

    body.bg-white .navbar .navbar-nav-link a {
        color: #000;
    }

    body.bg-white .hamburger {
        color: #000;
    }

    .navbar .navbar-nav-link.active {
        left: 0; /* Mengubah right menjadi left */
    }

    .navbar .navbar-nav-link a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 18px;
    }

    .navbar .navbar-nav-link a::after {
        transform-origin: 0 0;
    }

    .navbar .navbar-nav-link a:hover::after {
        transform: scaleX(0.2);
    }

    .navbar .navbar-nav-link a:hover {
        background-color: #0060FF;
    }

    .navbar .navbar-nav-link a::after {
        background-color: #0060FF;
        padding-bottom: 1px;
    }

    .navbar .navbar-nav-link a:hover {
        background-color: #0060FF;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}






